.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(to right, #474747, #767676);
  width: 500px;
  height: 620px;
  color: white;
  margin-top: 50px;
  border-radius: px;
}
