* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #f4f7fa; */
  /* font-family: "Poppins",sans-serif; */
  background-image: linear-gradient(to right, #3596ff , #0ca6be);
  max-width: 100vw;
  min-height: 100vh;
}
